@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* ******************** NavBar ********************* */
nav {
  margin: 0 10%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
#language {
  background: #e6e6e6;
  padding: 5px 8px;
  border-radius: 20px;
}

#language:hover {
  color: #762fb0;
  border-top: 3px solid transparent;
}
nav ul li {
  font-size: 0.64rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px;
  border-top: 3px solid transparent;
}
nav ul li:hover {
  color: #762fb0;
  border-top: 3px solid #6c4091;
}

/* ******************* Header ********************** */

header {
  margin: 7px 0;
  padding: 40px;
  background: url(./assets/img/bg.jpg) center/cover fixed;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h3,
h5,
button {
  text-transform: uppercase;
}
h1 {
  color: #e6e6e6;
  font-size: 1.45rem;
  margin: 20px;
}

button {
  background: transparent;
  padding: 10px 25px;
  border: 2px solid #ffffff4c;
  border-radius: 3px;
  color: #e6e6e6;
  font-stretch: expanded;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

button i {
  margin-left: 13px;
}

.header-text {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 30px 10%;
}

.icon-part {
  background: #0e0e0e;
  padding: 20px;
}

.icon-part-container {
  display: flex;
  justify-content: space-around;
}
.list-icon-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e6e6e6;
  width: 20%;
}
.lip-logo {
  margin: 20px;
}
h3 {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 10px 0;
}

.list-icon-part p {
  font-size: 0.64rem;
}

.list-icon-part button {
  margin: 30px;
  font-size: 0.8rem;
}

.news-part {
  display: flex;
  background: #f7f7f7;
  padding: 20px;
  flex-direction: column;
  align-items: space-around;
}

.header-news {
  display: grid;
  grid-template-columns: 70% 20%;
  margin: 30px 10%;
}

h2 {
  text-transform: uppercase;
  margin: 5px 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.left-part p {
  font-size: 0.8rem;
  font-weight: bold;
}

.right-part button {
  color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.main-news-container {
  display: flex;
  margin: 30px 10%;
  justify-content: space-between;
}

.main-news-container div {
  display: flex;
  width: 17%;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.main-news-container img {
  box-shadow: -1px 2px 4px 2px rgb(126, 124, 124);
  border-radius: 2px;
}

h4 {
  font-size: 0.9rem;
  margin: 10px 0;
}

.main-news-container div p {
  font-size: 0.65rem;
  margin: 10px 0;
}

.main-news-container a {
  display: inline-block;
  text-decoration: none;
  font-size: 0.8rem;
}

.contact-container {
  margin: 0 10%;
}
.contact-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 30px auto;
}

.list {
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

li a {
  text-decoration: none;
}

.list p,
a {
  font-size: 0.7rem;
  text-decoration: none;
  width: 80%;
}

.list a {
  margin-top: 10px;
}
h5 {
  margin-bottom: 10px;
}

.network {
  margin-top: 10px;
}

.footer-logos i {
  margin-right: 10px;
  margin-bottom: 20px;
}

.copyright {
  font-size: 0.8rem;
}

.contact-medias {
  display: flex;
  margin: 20px 0;
}
.medias-text {
  display: flex;
  flex-direction: column;
}

.medias-logos {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  margin-top: 30px;
  background: #0e0e0e;
  color: #e6e6e6;
  align-items: center;
  text-align: center;
  padding: 10px;
}

footer ul {
  display: flex;
  margin: 20px;
  justify-content: space-around;
}

